<div class="corona-pika">
    <%= image_tag "corona_pika.png"%>
</div>
<div class="center-content">
    <h1>Pokemon Pomodoros</h1>
    <p>This will be a pokemon pomodoro app. As you go along clocking pomodoros, your pokemon will level up along with you. Sign up / Log in below!</p>
    <%= link_to "Sign up", "/signup", class: "btn btn-lg btn-primary"%>
    <%= link_to "Login", "#", class: "btn btn-lg btn-primary"%>
</div>